## Data Wrangling

In [1]:
import re 
import glob
import zipfile
import pandas as pd
from bs4 import BeautifulSoup

This data set includes information about individual rides made in a bike-sharing system covering the greater San Francisco Bay area.
https://www.lyft.com/bikes/bay-wheels/system-data

The Data
Each trip is anonymized and includes:

* Trip Duration (seconds)
* Start Time and Date
* End Time and Date
* Start Station ID
* Start Station Name
* Start Station Latitude
* Start Station Longitude
* End Station ID
* End Station Name
* End Station Latitude
* End Station Longitude
* Bike ID
* User Type (Subscriber or Customer – “Subscriber” = Member or “Customer” = Casual)

In [2]:
with open('./data/content.html', 'r') as f:
    contents = f.read()
    soup = BeautifulSoup(contents, 'lxml')
    print(soup)

<html><head>
<!--

  Amazon S3 Bucket listing.


  Copyright (C) 2008 Francesco Pasqualini

      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.

      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.

      You should have received a copy of the GNU General Public License
      along with this program.  If not, see <http://www.gnu.org/licenses/>.

  -->
<!--

  Modified by Nolan Lawson!  (http://nolanlawson.com).  I'm keeping the spirit of the
  GPL alive by issuing this with the same license!

  -->
<title>Index of bucket "baywheels-data"</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"/>
<style>
        .hide-while-loading {
          display:none;
        }
        .i-expand-collapse {
          opacity: 0.3;
        }
        .i-file-or-folder {
          margin-right: 4px;
        }
      </style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
</head>
<body data-gr-c-s-loaded="true">
<div class="container">
<h1 id="h1-title">Index of bucket "baywheels-data"</h1>
<table class="hide-while-loading table table-striped" style="display: table;">
<thead>
<tr>
<th>Name</th>
<th>Date Modified</th>
<th>Size</th>
<th>Type</th>
</tr>
</thead>
<tbody id="tbody-content">
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/2017-fordgobike-tripdata.csv.zip">2017-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:49 pm</td>
<td>15.15 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201801-fordgobike-tripdata.csv.zip">201801-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:39 pm</td>
<td>2.89 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201802-fordgobike-tripdata.csv.zip">201802-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:39 pm</td>
<td>3.28 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201803-fordgobike-tripdata.csv.zip">201803-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:39 pm</td>
<td>3.46 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201804-fordgobike-tripdata.csv.zip">201804-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:40 pm</td>
<td>4.08 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201805-fordgobike-tripdata.csv.zip">201805-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:43 pm</td>
<td>5.55 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201806-fordgobike-tripdata.csv.zip">201806-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:44 pm</td>
<td>6.10 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201807-fordgobike-tripdata.csv.zip">201807-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:42 pm</td>
<td>6.23 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201808-fordgobike-tripdata.csv.zip">201808-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:43 pm</td>
<td>6.07 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201809-fordgobike-tripdata.csv.zip">201809-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:45 pm</td>
<td>5.86 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201810-fordgobike-tripdata.csv.zip">201810-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:47 pm</td>
<td>6.36 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201811-fordgobike-tripdata.csv.zip">201811-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:46 pm</td>
<td>4.27 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201812-fordgobike-tripdata.csv.zip">201812-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:48 pm</td>
<td>4.22 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201901-fordgobike-tripdata.csv.zip">201901-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:49 pm</td>
<td>6.17 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201902-fordgobike-tripdata.csv.zip">201902-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:49 pm</td>
<td>5.92 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201903-fordgobike-tripdata.csv.zip">201903-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:50 pm</td>
<td>8.34 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201904-fordgobike-tripdata.csv.zip">201904-fordgobike-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:51 pm</td>
<td>7.79 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201905-baywheels-tripdata.csv.zip">201905-baywheels-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:51 pm</td>
<td>5.97 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201906-baywheels-tripdata.csv.zip">201906-baywheels-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:51 pm</td>
<td>6.22 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201907-baywheels-tripdata.csv.zip">201907-baywheels-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:52 pm</td>
<td>8.32 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201908-baywheels-tripdata.csv.zip">201908-baywheels-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:52 pm</td>
<td>6.95 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201909-baywheels-tripdata.csv.zip">201909-baywheels-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:53 pm</td>
<td>7.33 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201910-baywheels-tripdata.csv.zip">201910-baywheels-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:53 pm</td>
<td>8.09 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201911-baywheels-tripdata.csv.zip">201911-baywheels-tripdata.csv.zip</a></td>
<td>Jan 10th 2020, 10:29:53 pm</td>
<td>6.30 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/201912-baywheels-tripdata.csv.zip">201912-baywheels-tripdata.csv.zip</a></td>
<td>Mar 25th 2020, 02:59:31 am</td>
<td>5.03 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/202001-baywheels-tripdata.csv.zip">202001-baywheels-tripdata.csv.zip</a></td>
<td>Mar 25th 2020, 02:59:31 am</td>
<td>9.93 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/202002-baywheels-tripdata.csv.zip">202002-baywheels-tripdata.csv.zip</a></td>
<td>Mar 25th 2020, 02:59:33 am</td>
<td>14.55 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/202003-baywheels-tripdata.csv.zip">202003-baywheels-tripdata.csv.zip</a></td>
<td>Apr 18th 2020, 06:54:30 am</td>
<td>5.89 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/202004-baywheels-tripdata.csv.zip">202004-baywheels-tripdata.csv.zip</a></td>
<td>May 27th 2020, 07:19:16 am</td>
<td>3.27 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/202005-baywheels-tripdata.csv.zip">202005-baywheels-tripdata.csv.zip</a></td>
<td>Jun 5th 2020, 11:03:10 pm</td>
<td>5.48 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/202006-baywheels-tripdata.csv.zip">202006-baywheels-tripdata.csv.zip</a></td>
<td>Jul 6th 2020, 07:29:56 am</td>
<td>6.75 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/202007-baywheels-tripdata.csv.zip">202007-baywheels-tripdata.csv.zip</a></td>
<td>Aug 12th 2020, 09:07:59 am</td>
<td>6.74 MB</td>
<td>ZIP file</td>
</tr>
<tr>
<td><i class="icon-file i-file-or-folder" style="margin-left:calc((1 * 16px) + 4px);"></i>
<a href="https://s3.amazonaws.com/baywheels-data/index.html">index.html</a></td>
<td>Jun 8th 2019, 03:52:29 am</td>
<td>6 KB</td>
<td>HTML file</td>
</tr>
</tbody>
</table>
</div>
<script id="file-or-folder" type="text/x-handlebars-template">
    <tr>
      {{#if isFolder}}
        <td><i class="icon-chevron-down i-expand-collapse" style="margin-left:calc(({{numLevels}} - 1) * 16px)");></i><i class="icon-folder-open i-file-or-folder" style="margin-left:4px;"></i>
        {{simpleFilename}}</td>
      {{else}}
        <td><i class="icon-file i-file-or-folder"  style="margin-left:calc(({{numLevels}} * 16px) + 4px);"></i>
        <a href="{{url}}">{{simpleFilename}}</a></td>
      {{/if}}
      <td>{{friendlyLastModified}}</td>

      <td>{{friendlySizeName}}</td>
      <td>{{type}}</td>
    </tr>
  </script>
<script>
    (function($){
      "use strict";
      var FOLDER_PATTERN = new RegExp('_\\$folder\\$$');
      var TYPE_PATTERN = new RegExp('\\.([^\\.\\s]{1,10})$');
        var KB = 1024;
        var MB = 1000000;
        var GB = 1000000000;

    // replace last /index.html to get bucket root
      var bucketUrl = document.location.href.replace(/\/[^\/]+$/, '');
        var compiledTemplate;

    // return e.g. 1.2KB, 1.3MB, 2GB, etc.
      function toFriendlySizeName(size){
        if (size === 0) {
          return '';
        } else if (size < KB) {
          return size + ' B';
        } else if (size < MB) {
          return (size / KB).toFixed(0) + ' KB';
        } else if (size < GB) {
          return (size / MB).toFixed(2) + ' MB';
        }
        return (size / GB).toFixed(2) + ' GB';
      }


      // POJO describing a file or a folder
      function FileOrFolder(lastModified, etag, size, key){
        var self = this;

        self.lastModified = lastModified;
        self.etag = etag;
        self.size = size;
        self.key = key;

        // init logic
        self.isFolder = FOLDER_PATTERN.test(self.key);
        self.filename = self.isFolder ? self.key.replace(FOLDER_PATTERN,'') : self.key;
        self.url = bucketUrl + '/' + self.key;
        self.levels = self.filename.split('/');
        self.numLevels = self.levels.length;
        self.simpleFilename = self.levels[self.numLevels - 1];
        self.friendlySizeName = toFriendlySizeName(parseInt(self.size,10));
        var foundTypes = TYPE_PATTERN.exec(self.simpleFilename);
        self.type = self.isFolder ? 'Folder ' : (foundTypes ? (foundTypes[1].toUpperCase() + ' file') : 'Unknown');
        self.friendlyLastModified = moment(lastModified).format('MMM Do YYYY, hh:mm:ss a');
      }

        function onAjaxSuccess(xml) {
            var listBucketResult = $(xml).find('ListBucketResult');

            // set a reasonable title instead of "Bucket loading"
            var title = 'Index of bucket "' + listBucketResult.find('Name').text() + '"';
            document.title = title;
            $('#h1-title').text(title);

            var $tbodyContent = $('#tbody-content');

            // create the file or folder objects

            var filesOrFolders = [];

            listBucketResult.find('Contents').each(function(idx, element){

                var $element = $(element);

                var fileOrFolder = new FileOrFolder(
                     $element.find('LastModified').text(),
                     $element.find('ETag').text(),
                     $element.find('Size').text(),
                     $element.find('Key').text()
                );

                filesOrFolders.push(fileOrFolder);
            });

            // sort
            filesOrFolders.sort(function(left, right){
                if (left.levels === right.levels) {
                    return 0;
                } else if (left.levels < right.levels) {
                    return -1;
                }
                return 1;
            });

            // fill in the rows
            var str = '';
            for (var i = 0; i < filesOrFolders.length; i ++) {
                str += compiledTemplate(filesOrFolders[i]);
            }
            $tbodyContent.append(str);
            $('.hide-while-loading').show();
        }

        $.ajax({
         url: bucketUrl,
         success: onAjaxSuccess
        });

    // compile while ajax is in progress
        compiledTemplate = Handlebars.compile($('#file-or-folder').html());

    })(jQuery);
    </script>
</body></html>

In [3]:
# Make a list containing all the zip-file names
zip_list = glob.glob('./data/*.zip')
zip_list

['./data\\2017-fordgobike-tripdata.csv.zip',
 './data\\201801-fordgobike-tripdata.csv.zip',
 './data\\201802-fordgobike-tripdata.csv.zip',
 './data\\201803-fordgobike-tripdata.csv.zip',
 './data\\201804-fordgobike-tripdata.csv.zip',
 './data\\201805-fordgobike-tripdata.csv.zip',
 './data\\201806-fordgobike-tripdata.csv.zip',
 './data\\201807-fordgobike-tripdata.csv.zip',
 './data\\201808-fordgobike-tripdata.csv.zip',
 './data\\201809-fordgobike-tripdata.csv.zip',
 './data\\201810-fordgobike-tripdata.csv.zip',
 './data\\201811-fordgobike-tripdata.csv.zip',
 './data\\201812-fordgobike-tripdata.csv.zip',
 './data\\201901-fordgobike-tripdata.csv.zip',
 './data\\201902-fordgobike-tripdata.csv.zip',
 './data\\201903-fordgobike-tripdata.csv.zip',
 './data\\201904-fordgobike-tripdata.csv.zip',
 './data\\201905-baywheels-tripdata.csv.zip',
 './data\\201906-baywheels-tripdata.csv.zip',
 './data\\201907-baywheels-tripdata.csv.zip',
 './data\\201908-baywheels-tripdata.csv.zip',
 './data\\201909-baywheels-tripdata.csv.zip',
 './data\\201910-baywheels-tripdata.csv.zip',
 './data\\201911-baywheels-tripdata.csv.zip',
 './data\\201912-baywheels-tripdata.csv.zip',
 './data\\202001-baywheels-tripdata.csv.zip',
 './data\\202002-baywheels-tripdata.csv.zip',
 './data\\202003-baywheels-tripdata.csv.zip',
 './data\\202004-baywheels-tripdata.csv.zip',
 './data\\202005-baywheels-tripdata.csv.zip',
 './data\\202006-baywheels-tripdata.csv.zip',
 './data\\202007-baywheels-tripdata.csv.zip']

In [4]:
# Extract all zipfile using zipfile library
for zip_file in zip_list:
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall("./data/")

In [4]:
csv_list = glob.glob('./data/*.csv')
csv_list

['./data\\2017-fordgobike-tripdata.csv',
 './data\\201801-fordgobike-tripdata.csv',
 './data\\201802-fordgobike-tripdata.csv',
 './data\\201803-fordgobike-tripdata.csv',
 './data\\201804-fordgobike-tripdata.csv',
 './data\\201805-fordgobike-tripdata.csv',
 './data\\201806-fordgobike-tripdata.csv',
 './data\\201807-fordgobike-tripdata.csv',
 './data\\201808-fordgobike-tripdata.csv',
 './data\\201809-fordgobike-tripdata.csv',
 './data\\201810-fordgobike-tripdata.csv',
 './data\\201811-fordgobike-tripdata.csv',
 './data\\201812-fordgobike-tripdata.csv',
 './data\\201901-fordgobike-tripdata.csv',
 './data\\201902-fordgobike-tripdata.csv',
 './data\\201903-fordgobike-tripdata.csv',
 './data\\201904-fordgobike-tripdata.csv',
 './data\\201905-baywheels-tripdata.csv',
 './data\\201906-baywheels-tripdata.csv',
 './data\\201907-baywheels-tripdata.csv',
 './data\\201908-baywheels-tripdata.csv',
 './data\\201909-baywheels-tripdata.csv',
 './data\\201910-baywheels-tripdata.csv',
 './data\\201911-baywheels-tripdata.csv',
 './data\\201912-baywheels-tripdata.csv',
 './data\\202001-baywheels-tripdata.csv',
 './data\\202002-baywheels-tripdata.csv',
 './data\\202003-baywheels-tripdata.csv',
 './data\\202004-baywheels-tripdata.csv',
 './data\\202005-baywheels-tripdata.csv',
 './data\\202006-baywheels-tripdata.csv',
 './data\\202007-baywheels-tripdata.csv']

# Data Assesment

### 2017 Dataframe

In [6]:
df_2017 = pd.read_csv('./data/2017-fordgobike-tripdata.csv')
df_2017

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type
0,80110,2017-12-31 16:57:39.6540,2018-01-01 15:12:50.2450,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer
1,78800,2017-12-31 15:56:34.8420,2018-01-01 13:49:55.6170,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer
2,45768,2017-12-31 22:45:48.4110,2018-01-01 11:28:36.8830,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer
3,62172,2017-12-31 17:31:10.6360,2018-01-01 10:47:23.5310,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer
4,43603,2017-12-31 14:23:14.0010,2018-01-01 02:29:57.5710,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...,...,...
519695,435,2017-06-28 10:00:54.5280,2017-06-28 10:08:10.4380,81,Berry St at 4th St,37.775880,-122.393170,45,5th St at Howard St,37.781752,-122.405127,400,Subscriber
519696,431,2017-06-28 09:56:39.6310,2017-06-28 10:03:51.0900,66,3rd St at Townsend St,37.778742,-122.392741,321,5th at Folsom,37.780146,-122.403071,316,Subscriber
519697,424,2017-06-28 09:47:36.3470,2017-06-28 09:54:41.1870,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,48,2nd St at S Park St,37.782411,-122.392706,240,Subscriber
519698,366,2017-06-28 09:47:41.6640,2017-06-28 09:53:47.7150,58,Market St at 10th St,37.776619,-122.417385,59,S Van Ness Ave at Market St,37.774814,-122.418954,669,Subscriber
519699,188,2017-06-28 09:49:46.3770,2017-06-28 09:52:55.3380,25,Howard St at 2nd St,37.787522,-122.397405,48,2nd St at S Park St,37.782411,-122.392706,117,Subscriber

In [46]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             519700 non-null  int64
 1   start_time               519700 non-null  object
 2   end_time                 519700 non-null  object
 3   start_station_id         519700 non-null  int64
 4   start_station_name       519700 non-null  object
 5   start_station_latitude   519700 non-null  float64
 6   start_station_longitude  519700 non-null  float64
 7   end_station_id           519700 non-null  int64
 8   end_station_name         519700 non-null  object
 9   end_station_latitude     519700 non-null  float64
 10  end_station_longitude    519700 non-null  float64
 11  bike_id                  519700 non-null  int64
 12  user_type                519700 non-null  object
dtypes: float64(4), int64(4), object(5)
memory usage: 51.5+ MB

### 2018 Dataframes

In [76]:
# Function to check column equality for csv in one year 
def column_check(index):
#     diff = []
    columns = pd.read_csv(csv_list[index]).columns
    for i in csv_list[index:index+12]:
        df = pd.read_csv(i)
        if columns.all() == df.columns.all():
            print(i, 'columns is identical')
        else:
            print(i, 'columns is NOT identical')
#             j = i
#         return diff.append()

In [67]:
# Column check for year 2018, starterd from index 1 to 12
column_check(1)

./data\201801-fordgobike-tripdata.csv columns is identical
./data\201802-fordgobike-tripdata.csv columns is identical
./data\201803-fordgobike-tripdata.csv columns is identical
./data\201804-fordgobike-tripdata.csv columns is identical
./data\201805-fordgobike-tripdata.csv columns is identical
./data\201806-fordgobike-tripdata.csv columns is identical
./data\201807-fordgobike-tripdata.csv columns is identical
./data\201808-fordgobike-tripdata.csv columns is identical
./data\201809-fordgobike-tripdata.csv columns is identical
./data\201810-fordgobike-tripdata.csv columns is identical
./data\201811-fordgobike-tripdata.csv columns is identical
./data\201812-fordgobike-tripdata.csv columns is identical

In [68]:
# Concat all 2018 dataframe
df_2018 = pd.concat(map(pd.read_csv, glob.glob('data/2018*.csv')), ignore_index=True)
df_2018

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863716,473,2018-12-01 00:11:54.8110,2018-12-01 00:19:48.5470,345.0,Hubbell St at 16th St,37.766474,-122.398295,81.0,Berry St at 4th St,37.775880,-122.393170,3035,Subscriber,No
1863717,841,2018-12-01 00:02:48.7260,2018-12-01 00:16:49.7660,10.0,Washington St at Kearny St,37.795393,-122.404770,58.0,Market St at 10th St,37.776619,-122.417385,2034,Subscriber,No
1863718,260,2018-12-01 00:05:27.6150,2018-12-01 00:09:47.9560,245.0,Downtown Berkeley BART,37.870139,-122.268422,255.0,Virginia St at Shattuck Ave,37.876573,-122.269528,2243,Subscriber,No
1863719,292,2018-12-01 00:03:06.5490,2018-12-01 00:07:59.0800,93.0,4th St at Mission Bay Blvd S,37.770407,-122.391198,126.0,Esprit Park,37.761634,-122.390648,545,Subscriber,No
1863720,150,2018-12-01 00:03:05.7420,2018-12-01 00:05:36.0260,107.0,17th St at Dolores St,37.763015,-122.426497,119.0,18th St at Noe St,37.761047,-122.432642,4319,Subscriber,No

In [69]:
df_2018.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863721 entries, 0 to 1863720
Data columns (total 14 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   duration_sec             1863721 non-null  int64
 1   start_time               1863721 non-null  object
 2   end_time                 1863721 non-null  object
 3   start_station_id         1851950 non-null  float64
 4   start_station_name       1851950 non-null  object
 5   start_station_latitude   1863721 non-null  float64
 6   start_station_longitude  1863721 non-null  float64
 7   end_station_id           1851950 non-null  float64
 8   end_station_name         1851950 non-null  object
 9   end_station_latitude     1863721 non-null  float64
 10  end_station_longitude    1863721 non-null  float64
 11  bike_id                  1863721 non-null  int64
 12  user_type                1863721 non-null  object
 13  bike_share_for_all_trip  1863721 non-null  object
dtypes: float64(6), int64(2), object(6)
memory usage: 199.1+ MB

In [70]:
df_2018.isna().sum()

duration_sec                   0
start_time                     0
end_time                       0
start_station_id           11771
start_station_name         11771
start_station_latitude         0
start_station_longitude        0
end_station_id             11771
end_station_name           11771
end_station_latitude           0
end_station_longitude          0
bike_id                        0
user_type                      0
bike_share_for_all_trip        0
dtype: int64

In [71]:
df_2018[df_2018.isnull().any(axis='columns')]

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,bike_share_for_all_trip
623364,5572,2018-06-30 20:58:31.8550,2018-06-30 22:31:24.5930,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4202,Customer,No
623376,573,2018-06-30 22:12:27.5110,2018-06-30 22:22:01.1740,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.93,4095,Subscriber,Yes
623393,850,2018-06-30 22:01:25.5850,2018-06-30 22:15:36.1510,NaN,NaN,37.41,-121.94,NaN,NaN,37.41,-121.95,4122,Customer,No
623429,562,2018-06-30 21:52:05.1180,2018-06-30 22:01:27.4400,NaN,NaN,37.41,-121.94,NaN,NaN,37.42,-121.94,4184,Subscriber,No
623456,819,2018-06-30 21:37:34.5060,2018-06-30 21:51:13.7290,NaN,NaN,37.41,-121.94,NaN,NaN,37.41,-121.96,4137,Customer,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860854,663,2018-12-02 09:47:44.1160,2018-12-02 09:58:47.1620,NaN,NaN,37.40,-121.92,NaN,NaN,37.39,-121.93,4284,Customer,No
1861409,1141,2018-12-01 21:22:41.6460,2018-12-01 21:41:42.7270,NaN,NaN,37.41,-121.96,NaN,NaN,37.41,-121.94,4256,Subscriber,No
1861570,753,2018-12-01 19:57:14.2010,2018-12-01 20:09:47.8580,NaN,NaN,37.41,-121.94,NaN,NaN,37.40,-121.93,4181,Subscriber,No
1862625,2244,2018-12-01 14:01:06.2520,2018-12-01 14:38:30.8950,NaN,NaN,37.41,-121.93,NaN,NaN,37.42,-121.96,4238,Customer,No
1863272,1269,2018-12-01 10:54:13.7640,2018-12-01 11:15:23.0360,NaN,NaN,37.42,-121.96,NaN,NaN,37.40,-121.92,4284,Customer,No

### 2019 Dataframes

In [77]:
# Column check for year 2019, starterd from index 13 to 24
column_check(13)

./data\201901-fordgobike-tripdata.csv columns is identical
./data\201902-fordgobike-tripdata.csv columns is identical
./data\201903-fordgobike-tripdata.csv columns is identical
./data\201904-fordgobike-tripdata.csv columns is identical
./data\201905-baywheels-tripdata.csv columns is identical
./data\201906-baywheels-tripdata.csv columns is NOT identical
./data\201907-baywheels-tripdata.csv columns is NOT identical
./data\201908-baywheels-tripdata.csv columns is identical
./data\201909-baywheels-tripdata.csv columns is identical
./data\201910-baywheels-tripdata.csv columns is identical
./data\201911-baywheels-tripdata.csv columns is NOT identical
./data\201912-baywheels-tripdata.csv columns is NOT identical

In [81]:
# Check difference in column
print(pd.read_csv(csv_list[13]).columns)
print(pd.read_csv(csv_list[18]).columns)
print(pd.read_csv(csv_list[19]).columns)
print(pd.read_csv(csv_list[23]).columns)
print(pd.read_csv(csv_list[24]).columns)

Index(['duration_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'bike_share_for_all_trip'],
      dtype='object')

C:\Users\muham\miniconda3\envs\dan_udacity\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['duration_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'bike_share_for_all_trip', 'rental_access_method'],
      dtype='object')

C:\Users\muham\miniconda3\envs\dan_udacity\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['duration_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'bike_share_for_all_trip', 'rental_access_method'],
      dtype='object')
Index(['duration_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'bike_share_for_all_trip', 'rental_access_method'],
      dtype='object')
Index(['duration_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'rental_access_method'],
      dtype='object')

C:\Users\muham\miniconda3\envs\dan_udacity\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [79]:
df_201901 = pd.read_csv(csv_list[13])
df_201901

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,bike_share_for_all_trip
0,80825,2019-01-31 17:57:44.6130,2019-02-01 16:24:49.8640,229.0,Foothill Blvd at 42nd Ave,37.775745,-122.213037,196.0,Grand Ave at Perkins St,37.808894,-122.256460,4861,Subscriber,No
1,65900,2019-01-31 20:58:33.8860,2019-02-01 15:16:54.1730,4.0,Cyril Magnin St at Ellis St,37.785881,-122.408915,134.0,Valencia St at 24th St,37.752428,-122.420628,5506,Subscriber,No
2,62633,2019-01-31 18:06:52.9240,2019-02-01 11:30:46.5300,245.0,Downtown Berkeley BART,37.870139,-122.268422,157.0,65th St at Hollis St,37.846784,-122.291376,2717,Customer,No
3,44680,2019-01-31 19:46:09.7190,2019-02-01 08:10:50.3180,85.0,Church St at Duboce Ave,37.770083,-122.429156,53.0,Grove St at Divisadero,37.775946,-122.437777,4557,Customer,No
4,60709,2019-01-31 14:19:01.5410,2019-02-01 07:10:51.0650,16.0,Steuart St at Market St,37.794130,-122.394430,28.0,The Embarcadero at Bryant St,37.787168,-122.388098,2100,Customer,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192077,390,2019-01-01 00:16:36.8450,2019-01-01 00:23:07.2530,109.0,17th St at Valencia St,37.763316,-122.421904,141.0,Valencia St at Cesar Chavez St,37.747998,-122.420219,5059,Subscriber,No
192078,227,2019-01-01 00:17:40.9750,2019-01-01 00:21:28.4180,73.0,Pierce St at Haight St,37.771793,-122.433708,96.0,Dolores St at 15th St,37.766210,-122.426614,4659,Subscriber,No
192079,565,2019-01-01 00:11:03.4410,2019-01-01 00:20:29.2680,269.0,Telegraph Ave at Carleton St,37.862320,-122.258801,243.0,Bancroft Way at College Ave,37.869360,-122.254337,4783,Subscriber,Yes
192080,182,2019-01-01 00:09:56.2110,2019-01-01 00:12:58.7480,269.0,Telegraph Ave at Carleton St,37.862320,-122.258801,240.0,Haste St at Telegraph Ave,37.866043,-122.258804,4621,Subscriber,Yes
192081,226,2019-01-01 00:07:10.5760,2019-01-01 00:10:57.1960,245.0,Downtown Berkeley BART,37.870139,-122.268422,247.0,Fulton St at Bancroft Way,37.867789,-122.265896,5117,Customer,No

In [80]:
df_201906 = pd.read_csv(csv_list[18])
df_201906

C:\Users\muham\miniconda3\envs\dan_udacity\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,bike_share_for_all_trip,rental_access_method
0,81695,2019-06-30 18:16:09.7730,2019-07-01 16:57:45.5920,109.0,17th St at Valencia St,37.763316,-122.421904,56.0,Koshland Park,37.773414,-122.427317,1502,Subscriber,No,NaN
1,74260,2019-06-30 18:09:55.8300,2019-07-01 14:47:36.6810,50.0,2nd St at Townsend St,37.780526,-122.390288,101.0,15th St at Potrero Ave,37.767079,-122.407359,2526,Customer,No,NaN
2,59603,2019-06-30 15:40:31.0380,2019-07-01 08:13:54.3490,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,30.0,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,2427,Subscriber,No,NaN
3,67932,2019-06-30 12:49:47.7810,2019-07-01 07:42:00.5430,169.0,Bushrod Park,37.846516,-122.265304,248.0,Telegraph Ave at Ashby Ave,37.855956,-122.259795,1261,Customer,No,NaN
4,48894,2019-06-30 17:21:00.0550,2019-07-01 06:55:54.9960,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,30.0,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,1070,Customer,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191767,1453,2019-06-23 18:40:11,2019-06-23 19:04:24,NaN,NaN,37.416979,-121.956381,NaN,NaN,37.396961,-121.941089,309118,Customer,NaN,app
191768,1674,2019-06-24 22:07:37,2019-06-24 22:35:32,NaN,NaN,37.417026,-121.954276,NaN,NaN,37.406156,-121.941510,186867,Customer,NaN,app
191769,672,2019-06-26 16:07:51,2019-06-26 16:19:04,NaN,NaN,37.417792,-121.955901,NaN,NaN,37.413978,-121.940664,663918,Subscriber,NaN,clipper
191770,1385,2019-06-26 22:34:47,2019-06-26 22:57:53,NaN,NaN,37.417983,-121.955682,NaN,NaN,37.405492,-121.941507,322735,Customer,NaN,app
191771,794,2019-06-24 20:34:47,2019-06-24 20:48:02,NaN,NaN,37.418230,-121.955282,NaN,NaN,37.405155,-121.933065,108375,Customer,NaN,app

###  2020 Dataframes

In [45]:
# Column check for year 2020, starterd from index 25 to the end
column_check(25)

./data\202001-baywheels-tripdata.csv columns is same
./data\202002-baywheels-tripdata.csv columns is same
./data\202003-baywheels-tripdata.csv columns is same
different
different
different
different

## Data Assesment Result

#### Year 2018
* 11771 null value based on start_station_id, start_station_name, end_station_id, and end_station_name columns
* bike_share_for_all_trip

#### Year 2019
* Columns name is not same for all csv files

#### Year 2020
* Columns name is not same for all csv files

# Data Cleaning